<nav class="navigation">
    <div class="hamburger hide-sm">
        <div class="hamburger-button"></div>
    </div>
        <div class="nav-collapse-menu">
            <ul class="nav-sm-flex">
                <li><a href="/">Home</a></li>
                <% if (currentUser) { %>
                <li class="ml-auto-sm order-3"><a href="/users/<%= currentUser._id %>">Me</a></li>
                <li class="ml-1-sm order-4"><a href="/users/log-out">Log out</a></li> 
                <% } else {%>
                <li class="ml-auto-sm order-3"><a href="/auth/register">Register</a></li>
                <li class="ml-1-sm order-4"><a href="/auth/log-in">Log in</a></li>
                <% } %>
                <li class="rel ml-1-sm">
                    <span class="rel">
                            <span class="dropdown-trigger">
                                Other
                                <img class="dropdown-button" width="15" src="/images/dropdown.png" alt="dropdown button">
                            </span>
                        <ul class="dropdown-menu">
                        <li><a href="/benefits/join-the-club">become member</a></li>
                        <li><a href="/benefits/become-an-admin">become an admin</a></li>
                        <li><a href="/boards/club-members">all members</a></li>
                        <li><a href="/boards/admins">all admins</a></li>
                        </ul>
                    </span>
                </li>
                
            </ul>
        </div>
</nav>

<!-- i do not make a separate javascript file for partials, because when they are included, they will be included with script as well -->
<script>
    const hamburger = document.querySelector(".hamburger");
    const dropdownMenu = document.querySelector(".dropdown-menu");
    const navbar = document.querySelector(".navigation");
    const navbarTransitionTime = parseFloat(getComputedStyle(navbar).transitionDuration) * 1000;
    const dropdownButton = document.querySelector(".dropdown-button");
    
    hamburger.addEventListener("click", event =>{
        hamburger.classList.toggle("hamburger-open");
        navbar.classList.toggle("navigation-show");

        // resetting (hiding) dropdown, when it is not closed and hamburger is clicked to collapse nav
        dropdownMenu.classList.remove("dropdown-menu-show");
        dropdownButton.classList.remove("dropdown-button-open");
        
        if(!navbar.classList.contains("navigation-show")){
            navbar.style.overflow = "";
        }
        else{
            setTimeout(() => {
                // we have to do the check here as well, because otherwise would occur bug, where nav is collapsed but overflow is visible
                // it is because of timeout
                if(!navbar.classList.contains("navigation-show")){
                    navbar.style.overflow = "";
                }
                else{
                    navbar.style.overflow = "visible";
                }       
            }, navbarTransitionTime);
        }
    });
    document.querySelector(".dropdown-trigger").addEventListener("click", event =>{
        dropdownButton.classList.toggle("dropdown-button-open");
        if(window.innerWidth > 700)
        {
            dropdownMenu.classList.toggle("dropdown-menu-show-md");
            dropdownMenu.classList.remove("dropdown-menu-show-sm");
            dropdownMenu.classList.remove("dropdown-menu-show");
        }
        else if(window.innerWidth < 430){
            
            dropdownMenu.classList.toggle("dropdown-menu-show");
            dropdownMenu.classList.remove("dropdown-menu-show-sm");
            dropdownMenu.classList.remove("dropdown-menu-show-md");
        }
        else
        {
            dropdownMenu.classList.toggle("dropdown-menu-show-sm");
            dropdownMenu.classList.remove("dropdown-menu-show-md");
            dropdownMenu.classList.remove("dropdown-menu-show");
        }

    });
</script>