<div class="list">
    <h1 class="list__title admins">Admins</h1>
    <ul class="list__body">
        <% adminUsers.forEach(adminUser => { %>
            <li><a href="#"><img src="<%= adminUser.profilePictureUrl %> " alt="hey"><span><%= adminUser.userName %></span></a></li>         
        <% }) %>
    </ul>
</div>