<h1 class="admin-intro text-center">Become an admin and <strong>rule</strong> the app.</h1>
<div class="mem-ad-container">
    <form action="/benefits/become-an-admin" method="POST">
        <label for="password" title="no hint">Admin password</label>
        <input type="password" id="password" name="password">
        <p class="form-text mem-ad-password-invalid"><%= locals.failed ? "Wrong password" : "" %></p>
        <div class="mt-1">
            <p class="form-text">Admins: <%= numberOfAdmins %></p>
        <p class="form-text">Admin limit: <%= adminLimit %></p>
        </div>
</form>
</div>
