<% if (currentUser.isAdmin) { %>
 <h1 class="text-center">You are already admin.</h1>
<% } else{%>
    <h1 class="text-center"><%= numberOfAdmins < adminsLimit ? "" : "Number of admins has reached the maximum limit. It is not possible to become one right now." %></h1>
    <% if (numberOfAdmins < adminsLimit) { %>
    <div class="mem-ad-container">
        <h1 class="mb-1 text-center">Become an admin and rule the app.</h1>
        <div class="mem-ad-form-container">
            <form action="/benefits/become-an-admin" method="POST">
                <label for="password" title="no hint">Admin password</label>
                <input type="password" id="password" name="password">
                <p class="form-text mem-ad-password-invalid"><%= locals.failed ? "Wrong password" : "" %></p>
                <div class="mt-1">
                <p class="form-text">Admins: <%= numberOfAdmins %></p>
                <p class="form-text">Admin limit: <%= adminsLimit %></p>
            </form>
        </div>
    </div>
    <% } %>
<% } %> 
</div>
