            <!-- diplniť submit button pre create post (malá šípka) -->
            <!-- diplniť foreach -->
<div class="post">
    <div class="post__header">
            <!-- diplniť href -->
        <a href="" class="post__profile--trigger">
            <!-- diplniť img src -->
            <img class="post__profile-image" src="/images/users/profile-picture.png" alt="profile picture">
            <div class="post__profile-info">
                <h3 class="post__profile-name">
                    <!-- doplniť -->
                    janko12
                </h3>
                <h6 class="post__profile-rank member">
                    <!-- doplniť -->
                    member
                </h6>
            </div>
        </a>
        <h2 class="post__title">
                    <!-- doplniť -->
            example title example title example title example title example title
        </h2>
    </div>
    <p class="post__body">
                    <!-- doplniť -->
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in?
    </p>
                        <!-- doplniť if admin, delete -->
    <div class="post__footer">
        <p class="">
                    <!-- doplniť -->
            posted: 
        </p>
                    <!-- doplniť if edited a title -->
        <p class="" title="time">
edited
        </p>
    </div>
</div>

<% if (currentUser) { %>
 
    <div class="modal">
    </div>
    <!-- doplniť action, gear element podmienku-->
    <form action="/users/create-post" method="POST" class="post-form">
        <% if (currentUser.isMember) { %>
            <img class="post-form__config-img" src="/images/gear.png" alt="gear image">
        <% } %>
        <!-- doplniť -->
        <input class="post-form__title" type="text" placeholder="Title" name="postTitle">
        <!-- doplniť -->
        <textarea class="post-form__body" name="postBody" id="post-body" cols="30" rows="10" placeholder="Your thoughts"></textarea>
        <% console.log(currentUser.isMember) %> 
        <% if (currentUser.isMember) { %>
            <div class="post-form__config">
                <div class="mb-1">
                    <label for="title-color">Choose title color:</label>
                    <div class="rel select-wrapper">
                        <select name="titleColor" id="title-color">
                            <option value="#ffffff">default</option>
                            <!-- doplniť option iteration -->
                        </select>
                    </div>
                </div>
                <div>
                    <label for="body-color">Choose message color:</label>
                    <div class="rel select-wrapper">
                        <select name="bodyColor" id="body-color">
                            <option value="#ffffff">default</option>
                            <!-- doplniť option iteration -->
                        </select>
                    </div>
                </div>
            </div>
        <% } %>
    </form>
    <div class="create-post-bubble">
        create post
    </div>
    <script src="/javascripts/postBubbleAction.js"></script>
<% } %>
    