<%- include("./partials/allPosts") %>
<%- include("./partials/post_form") %> 
    <% if (currentUser) { %>
        <div class="create-post-bubble">
            create post
        </div>
        <script type="module" src="/javascripts/postBubbleAction.js"></script>
    <% } %>