<div class="log-in-container">
    <!-- diplniť action -->
    <form action="" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input  id="password" type="text" name="password">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
        </div>
        <div class="text-center">
            <button class="btn log-in-submit-btn">Log in</button>
        </div>
    </form>
</div>