<div class="list">
    <!-- doplniť classu podľa dát -->
    <h1 class="list__title">Members</h1>
    <ul class="list__body">
        <li><a href="#"><img src="/images/users/profile-picture.png" alt="hey"><span>first</span></a></li>
        <li><a href="#"><img src="/images/users/profile-picture.png" alt="hey"><span>second</span></a></li>
    </ul>
</div>