<div class="mem-ad-container">
    <form action="">
        <label for="password">Member secret</label>
        <input type="password" id="password" name="password">
        <p class="form-text mem-ad-password-invalid">Wrong password</p>
        <p class="form-text"><a href="#">try and see</a></p>

    </form>
</div>