<% if (currentUser.isMember) { %>
 <h1 class="text-center">You already are member.</h1>
<% } else{%>
    <div class="mem-ad-container">
        <form action="/benefits/become-member" method="POST">
            <label for="password">Member secret</label>
            <input type="password" id="password" name="password">
            <p class="form-text mem-ad-password-invalid"><%= locals.failed ? "Wrong secret" : "" %></p>
            <div class="mt-1">
                <p class="form-text"><%= locals.failed ? "Try again and watch out URL's, they are important" : "try and see" %></p>
            </div>

        </form>
    </div>


    <% if (locals.failed) { %>
        <script>
            window.history.pushState("", "", window.location + "?hint=16-txt&&s=436f6e67726174732e204d656d626572207365637265742069733a2065206120732079");
        </script>
    <% } %>
<% } %>