<div class="profile-page-container">
    <div class="modal flex-1">
        <div class="profile mx-auto">
        <img src="/images/users/profile-picture.png" alt="profile pic">
        <div class="profile__body">
        <h1>Username: <span>kako</span></h1>
        <h1>Full name: <span></span></h1>
        <h1>Last logged in: <span></span></h1>
        <h1>Registered: <span></span></h1>
        </div>
        </div>
    </div>
    
    <div class="fake-profile">
        <div class="text-center">
            <img src="/images/users/profile-picture.png" alt="profile pic">
        </div>
        <div>
        <h1>Username:</h1>
        <h1>Full name:</h1>
        <h1>Last logged in:</h1>
        <h1>Registered:</h1>
        </div>
    </div>
    
    <div class="all-posts flex-2">
        <div class="post">
            <div class="post__header">
                    <!-- diplniť href -->
                <a href="/doplniť" class="post__profile--trigger">
                    <!-- diplniť img src -->
                    <img class="post__profile-image" src="/images/users/profile-picture.png" alt="profile picture">
                    <div class="post__profile-info">
                        <h3 class="post__profile-name">
                            <!-- doplniť -->
                            janko12
                        </h3>
                        <h6 class="post__profile-rank member">
                            <!-- doplniť -->
                            member
                        </h6>
                    </div>
                </a>
                <h2 class="post__title">
                            <!-- doplniť -->
                    example title example title example title example title example title
                </h2>
            </div>
            <p class="post__body">
                            <!-- doplniť -->
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in?
            </p>
                            <!-- doplniť if me, then edit or delete -->
            <div class="post__footer">
                <p class="">
                            <!-- doplniť -->
                    posted: 
                </p>
                            <!-- doplniť if edited a title -->
                <p class="" title="time">
        edited
                </p>
                <button style="margin-top: 10px;" class="btn">edit</button>
                <button class="btn">delete</button>
            </div>
        </div>
        <div class="post">
            <div class="post__header">
                    <!-- diplniť href -->
                <a href="/doplniť" class="post__profile--trigger">
                    <!-- diplniť img src -->
                    <img class="post__profile-image" src="/images/users/profile-picture.png" alt="profile picture">
                    <div class="post__profile-info">
                        <h3 class="post__profile-name">
                            <!-- doplniť -->
                            janko12
                        </h3>
                        <h6 class="post__profile-rank member">
                            <!-- doplniť -->
                            member
                        </h6>
                    </div>
                </a>
                <h2 class="post__title">
                            <!-- doplniť -->
                    example title example title example title example title example title
                </h2>
            </div>
            <p class="post__body">
                            <!-- doplniť -->
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in?
            </p>
                            <!-- doplniť if me, then edit or delete -->
            <div class="post__footer">
                <p class="">
                            <!-- doplniť -->
                    posted: 
                </p>
                            <!-- doplniť if edited a title -->
                <p class="" title="time">
        edited
                </p>
                <button style="margin-top: 10px;" class="btn">edit</button>
                <button class="btn">delete</button>
            </div>
        </div>
        <div class="post">
            <div class="post__header">
                    <!-- diplniť href -->
                <a href="/doplniť" class="post__profile--trigger">
                    <!-- diplniť img src -->
                    <img class="post__profile-image" src="/images/users/profile-picture.png" alt="profile picture">
                    <div class="post__profile-info">
                        <h3 class="post__profile-name">
                            <!-- doplniť -->
                            janko12
                        </h3>
                        <h6 class="post__profile-rank member">
                            <!-- doplniť -->
                            member
                        </h6>
                    </div>
                </a>
                <h2 class="post__title">
                            <!-- doplniť -->
                    example title example title example title example title example title
                </h2>
            </div>
            <p class="post__body">
                            <!-- doplniť -->
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in?
            </p>
                            <!-- doplniť if me, then edit or delete -->
            <div class="post__footer">
                <p class="">
                            <!-- doplniť -->
                    posted: 
                </p>
                            <!-- doplniť if edited a title -->
                <p class="" title="time">
        edited
                </p>
                <button style="margin-top: 10px;" class="btn">edit</button>
                <button class="btn">delete</button>
            </div>
        </div>
        <div class="post">
            <div class="post__header">
                    <!-- diplniť href -->
                <a href="/doplniť" class="post__profile--trigger">
                    <!-- diplniť img src -->
                    <img class="post__profile-image" src="/images/users/profile-picture.png" alt="profile picture">
                    <div class="post__profile-info">
                        <h3 class="post__profile-name">
                            <!-- doplniť -->
                            janko12
                        </h3>
                        <h6 class="post__profile-rank member">
                            <!-- doplniť -->
                            member
                        </h6>
                    </div>
                </a>
                <h2 class="post__title">
                            <!-- doplniť -->
                    example title example title example title example title example title
                </h2>
            </div>
            <p class="post__body">
                            <!-- doplniť -->
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in?
            </p>
                            <!-- doplniť if me, then edit or delete -->
            <div class="post__footer">
                <p class="">
                            <!-- doplniť -->
                    posted: 
                </p>
                            <!-- doplniť if edited a title -->
                <p class="" title="time">
        edited
                </p>
                <button style="margin-top: 10px;" class="btn">edit</button>
                <button class="btn">delete</button>
            </div>
        </div>
    </div>
</div>


<script>
    const modal = document.querySelector(".modal");
    const fakeProfile = document.querySelector(".fake-profile");

    modal.addEventListener("click", event =>{
        if(event.target !== modal)
            return;
        modal.classList.remove("display-show");
        fakeProfile.classList.remove("display-none");
    })
    fakeProfile.addEventListener("click", event =>{
        modal.classList.add("display-show");
        fakeProfile.classList.add("display-none");
    })
</script>