<div class="register-container">
    <div class="register-introduction">
        <h1>
            Register now and get the opportunity to:
        </h1>
        <ul>
            <li>- create a post</li>
            <li>- join the club</li>
            <li>- become and <strong class="text-uppercase">admin</strong></li>
        </ul>
    </div>
    <div class="register-form-container">
        <!-- doplni콘 action -->
        <!-- doplni콘 paragrafy -->
        <!-- doplni콘 class otestovan치 forma -->
        <form action="" method="POST">
            <div class="form-group">
                <label for="username">Username:</label><input required type="text">
                <p class="form-respond-text">test</p>
            </div>
            <div class="form-group">
                <label for="first-name">First name:</label><input required type="text">
                <p class="form-respond-text">test</p>
            </div>
            <div class="form-group">
                <label for="last-name">Last name:</label><input type="text">
                <p class="form-respond-text">test</p>
            </div>
            <div class="form-group">
                <label for="password">Password:</label><input required type="password">
                <p class="form-respond-text">test</p>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm password:</label><input required type="password">
                <p class="form-respond-text">test</p>
            </div>
            <div class="text-center">
                <button class="btn">Register</button>
            </div>
        </form>
    </div>
</div>