*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 0.3em;
}

input,
textarea {
  border-radius: 10px;
  background-color: #c4c4c4;
  border: none;
  padding: 0.6em 1em;
}

textarea {
  resize: vertical;
}

select {
  cursor: pointer;
  border: none;
  padding: 0.3em 0.5em;
  border-radius: 500px;
  background-color: #c4c4c4;
}

:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  background-color: #dc8484;
  color: white;
  font-family: sans-serif;
  padding: 30px;
  padding-top: 70px;
}

@media (min-width: 430px) {
  body {
    padding-top: 85px;
  }
}

@media (min-width: 700px) {
  body {
    padding-top: 100px;
  }
}

.navigation {
  height: 45px;
  overflow: hidden;
  font-size: 1.3rem;
  background-color: #ff8080;
  border-radius: 0 0 30px 30px;
  -webkit-box-shadow: 0 10px 10px #555;
          box-shadow: 0 10px 10px #555;
  padding: 0.8rem 1.5rem;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 990;
}

@media (min-width: 430px) {
  .navigation {
    font-size: 1.3rem;
    height: initial;
    overflow: visible;
  }
}

@media (min-width: 700px) {
  .navigation {
    font-size: 1.7rem;
  }
}

@media (min-width: 430px) {
  .nav-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hide-sm {
    display: none;
  }
}

.navigation-show {
  height: 176px;
}

@media (min-width: 430px) {
  .navigation {
    height: initial;
  }
}

.nav-collapse-menu li {
  margin-bottom: 0.3em;
}

.hamburger {
  font-size: 1rem;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 0;
  margin-bottom: 0.6em;
}

.hamburger-button {
  position: relative;
  width: 25px;
  height: 4px;
  background-color: #444;
  border-radius: 15px;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}

.hamburger-button::before, .hamburger-button::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background-color: #444;
  border-radius: 15px;
}

.hamburger-button::before {
  top: -6px;
}

.hamburger-button::after {
  bottom: -6px;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}

.hamburger-open .hamburger-button {
  width: 20px;
}

.hamburger-open .hamburger-button::after {
  width: 15px;
}

.dropdown-trigger {
  cursor: pointer;
}

.dropdown-menu {
  height: 0;
  overflow: hidden;
  position: absolute;
  padding: 0 10px;
  right: 0;
  white-space: nowrap;
  top: 120%;
  -webkit-transform: translate(80%);
          transform: translate(80%);
  font-size: 0.7rem;
  border-radius: 5px;
  background-color: #ff8080;
  -webkit-transition: height 500ms ease-in-out, padding 500ms ease-in-out;
  transition: height 500ms ease-in-out, padding 500ms ease-in-out;
}

@media (min-width: 430px) {
  .dropdown-menu {
    font-size: 0.85rem;
  }
}

@media (min-width: 700px) {
  .dropdown-menu {
    font-size: 1rem;
  }
}

.dropdown-menu-show {
  height: 79px;
  padding: 5px 10px;
}

@media (min-width: 430px) {
  .dropdown-menu-show-sm {
    height: 92px;
    padding: 5px 10px;
  }
}

@media (min-width: 700px) {
  .dropdown-menu-show-md {
    height: 107px;
    padding: 8px 13px;
  }
}

.dropdown-button {
  vertical-align: middle;
  width: 15px;
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

.dropdown-button-open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn {
  cursor: pointer;
  padding: 0.6em 1.3em;
  font-size: 1rem;
  border-radius: 7px;
  border: none;
  background-color: #63badf;
}

.log-in-submit-btn {
  padding: 0.4em 2em;
}

.all-posts {
  max-height: calc(100vh - 100px - 30px);
  overflow: auto;
}

.post {
  background-color: #ff8080;
  border-radius: 20px;
  padding: 1em;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 2em;
}

@media (min-width: 700px) {
  .post {
    border-radius: 25px;
  }
}

.post__header {
  margin-bottom: 1em;
}

@media (min-width: 430px) {
  .post__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.post__profile--trigger, .post__title, .post__body {
  background-color: #cd6363;
}

.post__profile--trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 0.6em;
  margin-bottom: 1em;
}

@media (min-width: 430px) {
  .post__profile--trigger {
    margin-bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 700px) {
  .post__profile--trigger {
    padding: 1em;
    border-radius: 15px;
  }
}

.post__profile-image {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

@media (min-width: 700px) {
  .post__profile-image {
    width: 35px;
    height: 35px;
  }
}

.post__profile-info {
  margin-left: 1em;
}

@media (min-width: 700px) {
  .post__profile-info {
    margin-left: 1.5em;
  }
}

.post__profile-name {
  font-size: 0.8rem;
}

@media (min-width: 700px) {
  .post__profile-name {
    font-size: 1rem;
  }
}

.post__profile-rank {
  font-size: 0.7rem;
  text-align: center;
}

@media (min-width: 700px) {
  .post__profile-rank {
    font-size: 0.9rem;
  }
}

.post__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  line-height: 1.35;
  border-radius: 10px;
  padding: 0.5em 0.7em;
}

@media (min-width: 430px) {
  .post__title {
    margin-left: 0.4em;
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media (min-width: 700px) {
  .post__title {
    padding: 0.8em 1em;
    border-radius: 15px;
  }
}

.post__body {
  font-size: 0.85rem;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
}

@media (min-width: 700px) {
  .post__body {
    font-size: 1rem;
    padding: 0.8em 1.2em;
  }
}

.post__footer {
  font-family: serif;
  font-size: 0.8rem;
  padding-left: 1em;
}

@media (min-width: 700px) {
  .post__footer {
    font-size: 0.9rem;
    padding-left: 1.35em;
  }
}

.create-post-bubble {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.3em 0.3em;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #c4c4c4;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-bottom-right-radius: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.create-post-bubble:hover {
  -webkit-transform: scale(1.1) translate(-10%, -10%);
          transform: scale(1.1) translate(-10%, -10%);
}

.create-post-bubble:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.bubble-active {
  -webkit-transform: scale(1.1) translate(-10%, -10%);
          transform: scale(1.1) translate(-10%, -10%);
}

.post-form {
  display: none;
  position: fixed;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 80%;
  border-radius: 10px;
  z-index: 999;
  background-color: #ff8080;
  padding: 1.4em;
  max-width: 600px;
}

@media (min-width: 700px) {
  .post-form {
    border-radius: 25px;
  }
}

@media (min-width: 700px) {
  .post-form {
    right: 20px;
    bottom: 120px;
    padding: 1.8em 2.2em;
    top: unset;
    -webkit-transform: none;
            transform: none;
  }
}

.post-form__config-img {
  cursor: pointer;
  width: 18px;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transition: -webkit-transform 600ms linear;
  transition: -webkit-transform 600ms linear;
  transition: transform 600ms linear;
  transition: transform 600ms linear, -webkit-transform 600ms linear;
}

@media (min-width: 700px) {
  .post-form__config-img {
    width: 25px;
    right: 8px;
    top: 8px;
  }
}

.post-form__config {
  font-size: 0.8rem;
  position: absolute;
  right: 25px;
  top: 0;
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  padding: 0.7em 1.6em 1.3em;
  overflow: hidden;
  background-color: grey;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

@media (min-width: 700px) {
  .post-form__config {
    font-size: 1rem;
    right: 35px;
    top: -5px;
  }
}

.post-form__config select {
  width: 100%;
}

@media (min-width: 700px) {
  .post-form__config select {
    font-size: 0.9rem;
  }
}

.post-form__config option {
  cursor: pointer;
}

.post-form__title, .post-form__body {
  background-color: #cd6363;
  color: white;
  display: block;
  border: none;
  width: 100%;
}

@media (min-width: 700px) {
  .post-form__title, .post-form__body {
    border-radius: 10px;
  }
}

.post-form__title {
  margin-bottom: 1em;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 700px) {
  .post-form__title {
    font-size: 1.3rem;
  }
}

@media (min-width: 700px) {
  .post-form__body {
    font-size: 1rem;
  }
}

.select-wrapper::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  right: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.select-wrapper::before {
  content: "";
  width: 15px;
  height: 2px;
  background-color: #c4c4c4;
  right: 8px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

@media (max-width: 700px) {
  .modal {
    background-color: #4448;
    position: fixed;
    width: 100%;
    right: 0px;
    top: 0;
    bottom: 0;
    bottom: 0px;
    z-index: 998;
    display: none;
  }
}

.form-group {
  margin-bottom: 1em;
}

.form-text {
  font-size: 0.8rem;
  margin-top: 0.3em;
}

.form-text-invalid {
  color: #ffb800;
}

.register-introduction {
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 500px;
}

.register-introduction h1 {
  font-size: 1.3rem;
  margin-bottom: 0.7em;
}

@media (min-width: 700px) {
  .register-introduction h1 {
    font-size: 1.65rem;
  }
}

.register-introduction li {
  font-size: 1rem;
}

@media (min-width: 700px) {
  .register-introduction li {
    font-size: 1.12rem;
  }
}

.register-form-container {
  padding: 1em 0;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  background-color: #cd6363;
  margin: 0 auto;
  max-width: 500px;
}

.register-form-container form {
  margin: 0 auto;
  width: 80%;
}

.register-form-container input {
  width: 100%;
}

.log-in-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px black;
          box-shadow: 0px 0px 10px 3px black;
  padding: 1.5em 0;
  background-color: #cd6363;
}

.log-in-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.log-in-container .form-group {
  width: 70%;
}

.log-in-container input {
  width: 100%;
}

.list {
  max-width: 550px;
  margin: 0 auto;
  height: calc(95vh - 70px - 30px);
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid black;
}

.list__title {
  font-size: 1.4rem;
  background: #cd6363;
  text-align: center;
  line-height: 2;
}

@media (min-width: 700px) {
  .list__title {
    font-size: 1.85rem;
  }
}

.list__body {
  padding: 1em;
}

.list__body img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (min-width: 430px) {
  .list__body img {
    width: 40px;
    height: 40px;
  }
}

.list__body a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__body a span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.list__body li {
  font-size: 1rem;
  margin-bottom: 0.7em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #c4c4c4;
}

@media (min-width: 700px) {
  .list__body li {
    font-size: 1.15rem;
  }
}

.mem-ad-container {
  background: #cd6363;
  border-radius: 20px;
  padding: 2em;
  width: 80%;
  max-width: 350px;
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mem-ad-container input {
  width: 100%;
}

.mem-ad-password-invalid {
  color: #b50000;
}

.admin-intro {
  font-size: 2rem;
  font-weight: 900;
  position: fixed;
  width: calc(100% - 30px * 2);
  top: 20%;
}

@media (min-width: 430px) {
  .admin-intro {
    top: 25%;
  }
}

.profile-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.profile {
  border-radius: 20px;
  padding: 1em 1.8em;
  width: 80%;
  max-width: 300px;
  background-color: #cd6363;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 700px) {
  .profile {
    position: static;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.profile img {
  display: block;
  width: 70px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.profile__body h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.profile__body span {
  font-size: 0.9rem;
}

.fake-profile {
  cursor: pointer;
  position: fixed;
  left: 5px;
  border-radius: 7px;
  padding: 0.2em;
  background-color: #cd6363;
}

@media (min-width: 700px) {
  .fake-profile {
    display: none;
  }
}

.fake-profile img {
  width: 20px;
}

.fake-profile h1 {
  font-size: 4px;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ml-1 {
  margin-left: 1em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

@media (min-width: 430px) {
  .ml-1-sm {
    margin-left: 1em !important;
  }
  .ml-auto-sm {
    margin-left: auto !important;
  }
}

.member {
  color: #faff00;
}

.rel {
  position: relative !important;
}

.order-1 {
  -webkit-box-ordinal-group: 2 !important;
      -ms-flex-order: 1 !important;
          order: 1 !important;
}

.order-2 {
  -webkit-box-ordinal-group: 3 !important;
      -ms-flex-order: 2 !important;
          order: 2 !important;
}

.order-3 {
  -webkit-box-ordinal-group: 4 !important;
      -ms-flex-order: 3 !important;
          order: 3 !important;
}

.order-4 {
  -webkit-box-ordinal-group: 5 !important;
      -ms-flex-order: 4 !important;
          order: 4 !important;
}

.display-show {
  display: revert !important;
}

.display-none {
  display: none !important;
}

.rotate-360 {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.opacity-1 {
  opacity: 1 !important;
}

.pointer-events-all {
  pointer-events: all !important;
}

.flex-1 {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}

.flex-2 {
  -webkit-box-flex: 2 !important;
      -ms-flex: 2 !important;
          flex: 2 !important;
}

.flex-3 {
  -webkit-box-flex: 3 !important;
      -ms-flex: 3 !important;
          flex: 3 !important;
}
/*# sourceMappingURL=style.css.map */