// sass specific code
@import "./partials/variables";
@import "./partials/functions";
@import "./partials/mixins";

@import "./partials/resets";
body {
  background-color: getColor(primary);
  color: white;
  font-family: sans-serif;
  padding: $body-padding;
  padding-top: getNavbarOffset(default);
  @media (min-width: getBreakPoint(sm)) {
    padding-top: getNavbarOffset(sm);
  }
  @media (min-width: getBreakPoint(md)) {
    padding-top: getNavbarOffset(md);
  }
}
@import "./partials/navigation";
@import "./partials/hamburger";
@import "./partials/nav-dropdown.scss";

@import "./partials/buttons";

@import "./partials/post";
@import "./partials/create-post-bubble";
@import "./partials/post-form";
@import "./partials/modal";

@import "./partials/form";
@import "./partials/register";
@import "./partials/log-in-form";

@import "./partials/memberAdminList";
@import "./partials/_membersAdminPass";

@import "./partials/utils";
