.log-in-aligner {
  @include flexbox(center, center, column);
  min-height: getMinVhHeight(md);
  margin-top: -60px;
}
.log-in-container {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px black;
  padding: 1.5em 0;
  background-color: getColor(primary-dark);

  form {
    @include flexbox(center, center, column);
  }
  .form-group {
    width: 70%;
  }
  input {
    width: 100%;
  }
}
