@mixin flexbox(
  $justify-content: stretch,
  $align-items: stretch,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  // added if statements for lesser code in the output css file if the values are defaults
  @if ($justify-content != stretch) {
    justify-content: $justify-content;
  }
  @if ($align-items != stretch) {
    align-items: $align-items;
  }
  @if ($direction != row or $wrap != nowrap) {
    flex-flow: $direction $wrap;
  }
}
