@mixin flexbox(
  $justify-content: stretch,
  $align-items: stretch,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  // added if statements for lesser code in the output css file if the values are defaults
  @if ($justify-content != stretch) {
    justify-content: $justify-content;
  }
  @if ($align-items != stretch) {
    align-items: $align-items;
  }
  @if ($direction != row or $wrap != nowrap) {
    flex-flow: $direction $wrap;
  }
}

@mixin centerByPosition(
  $vertical: "false",
  $horizontal: "false",
  $position: fixed
) {
  position: $position;
  @if ($vertical == "true" and $horizontal == "true") {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($vertical == "true") {
    top: 50%;
    transform: translateY(-50%);
  } @else if ($horizontal == "true") {
    left: 50%;
    transform: translateX(-50%);
  }
}
