.navigation {
  height: 45px;
  overflow: hidden;
  font-size: 1.3rem;
  background-color: getColor(primary-light);
  border-radius: 0 0 30px 30px;
  box-shadow: 0 10px 10px #555;
  padding: 1rem 1rem;
  transition: height 1s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @media (min-width: getBreakPoint(sm)) {
    font-size: 1.3rem;
    height: initial;
    overflow: visible;
  }
  @media (min-width: getBreakPoint(md)) {
    font-size: 1.7rem;
  }
}
@media (min-width: getBreakPoint(sm)) {
  .nav-sm-flex {
    @include flexbox();
  }

  .hide-sm {
    display: none;
  }
}
.navigation-show {
  height: 171px;
}

@media (min-width: getBreakPoint(sm)) {
  .navigation {
    height: initial; // had to do it here not in the .navigation selector up, because of .navigation show. It would override the initial value
  }
}

.nav-collapse-menu {
  li {
    margin-bottom: 0.3em;
  }
}
