.dropdown-trigger {
  cursor: pointer;
}

.dropdown-menu {
  height: 0;
  overflow: hidden;
  position: absolute;
  padding: 0 10px;
  right: 0;
  white-space: nowrap;
  top: 120%;
  transform: translate(80%);
  font-size: 0.7rem;
  border-radius: 5px;
  background-color: getColor(primary-light);
  transition: height 500ms ease-in-out, padding 500ms ease-in-out;
  @media (min-width: getBreakPoint(sm)) {
    font-size: 0.85rem;
  }
  @media (min-width: getBreakPoint(md)) {
    font-size: 1rem;
  }
}
.dropdown-menu-show {
  height: 79px;
  padding: 5px 10px;
}

@media (min-width: getBreakPoint(sm)) {
  .dropdown-menu-show-sm {
    height: 92px;
    padding: 5px 10px;
  }
}
@media (min-width: getBreakPoint(md)) {
  .dropdown-menu-show-md {
    height: 107px;
    padding: 8px 13px;
  }
}
.dropdown-button {
  vertical-align: middle;
  width: 15px;
  transition: transform 300ms linear;
}

.dropdown-button-open {
  transform: rotate(180deg);
}
