.post-form {
  display: none;
  @include centerByPosition("true", "true");
  width: 80%;
  border-radius: 10px;
  z-index: 999;
  background-color: getColor(primary-light);
  padding: 1.4em;
  max-width: 600px;
  @media (min-width: getBreakPoint(md)) {
    border-radius: 25px;
    // left reset from centerByPosition mixin
    left: auto;
    right: 20px;
    bottom: 120px;
    padding: 1.8em 2.2em;
    top: unset;
    transform: none;
  }
  &__config-img {
    cursor: pointer;
    width: 18px;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: transform 600ms linear;
    @media (min-width: getBreakPoint(md)) {
      width: 25px;
      right: 8px;
      top: 8px;
    }
  }
  &__config {
    min-width: 271px;
    font-size: 0.8rem;
    position: absolute;
    right: 25px;
    top: 0;
    transform: translateY(-90%);
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    padding: 0.7em 1.5em 1.3em;
    overflow: hidden;
    background-color: grey;
    transition: opacity 500ms linear;
    @media (min-width: getBreakPoint(md)) {
      font-size: 1rem;
      right: 35px;
      top: -5px;
    }
    &--select-group {
      display: inline-block;
      margin-right: 0.5em;
    }
    option {
      cursor: pointer;
    }
  }
  &__config-select {
    width: fit-content;
    padding-right: 14px;
    @media (min-width: getBreakPoint(md)) {
      font-size: 0.9rem;
      padding-right: 22px;
    }
  }
  &__title,
  &__body {
    background-color: getColor(primary-dark);
    color: white;
    display: block;
    border: none;
    width: 100%;
    @media (min-width: getBreakPoint(md)) {
      border-radius: 10px;
    }
  }
  &__title {
    margin-bottom: 1em;
    font-size: 1rem;
    font-weight: bold;
    @media (min-width: getBreakPoint(md)) {
      font-size: 1.3rem;
    }
  }
  &__body {
    @media (min-width: getBreakPoint(md)) {
      font-size: 1rem;
    }
  }
  &__send-btn {
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    margin-left: auto;
    border: none;
    transform: translateY(-100%);
    @include flexbox(center, center);
    img {
      width: 34px;
      @media (min-width: getBreakPoint(md)) {
        width: 45px;
      }
    }
  }
}

.select-wrapper {
  &::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: black;
    right: 5px;
    @include centerByPosition("true", "false", absolute);
    transform: translateY(-50%) rotate(45deg);
    @media (min-width: getBreakPoint(md)) {
      width: 12px;
      height: 12px;
      right: 8px;
    }
  }
  &::before {
    content: "";
    width: 12px;
    height: 1px;
    background-color: getColor(secondary);
    right: 3px;
    @include centerByPosition("true", "false", absolute);
    z-index: 1;
    @media (min-width: getBreakPoint(md)) {
      width: 20px;
      height: 2px;
      right: 5px;
    }
  }
}

.post-form-standalone {
  // reset from post-form to show it always and always be in the middle of the screen
  display: block;
  @include centerByPosition("true", "true");
  max-width: 800px;

  // idk why but for whatever reason when i included centerByPosition mixin
  // the form was resizing its heaight according to the height of the window
  // and gets distorted so i had to put min-height on it
  @media (min-width: getBreakPoint(md)) {
    min-height: 357px;
  }
}
