.profile-page-container {
  @include flexbox();
  overflow: auto;
}
.profile {
  border-radius: 20px;
  padding: 1em 1.8em;
  width: 80%;
  max-width: 300px;
  background-color: getColor(primary-dark);
  @include centerByPosition("true", "true");
  @media (min-width: getBreakPoint(md)) {
    position: static;
    transform: translate(0);
  }
  img {
    display: block;
    width: 70px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  &__body {
    h1 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    span {
      font-size: 0.9rem;
    }
  }
}

.fake-profile {
  cursor: pointer;
  position: fixed;
  left: 5px;
  border-radius: 7px;
  padding: 0.2em;
  background-color: getColor(primary-dark);
  @media (min-width: getBreakPoint(md)) {
    display: none;
  }
  img {
    width: 20px;
  }
  h1 {
    font-size: 4px;
  }
}
