.register-container {
}

.register-introduction {
  margin-bottom: 2em;
  h1 {
    font-size: 1.3rem;
    margin-bottom: 0.7em;
  }
}

.register-form-container {
  padding: 1em 0;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
  background-color: getColor(primary-dark);
  form {
    margin: 0 auto;
    width: 80%;
  }
  input {
    width: 100%;
  }
}
