.text-center {
  text-align: center !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.ml-1 {
  margin-left: 1em !important;
}
.mb-1 {
  margin-bottom: 1em !important;
}
@media (min-width: getBreakPoint(sm)) {
  .ml-1-sm {
    margin-left: 1em !important;
  }
  .ml-auto-sm {
    margin-left: auto !important;
  }
}
.member {
  color: #faff00;
}
.rel {
  position: relative !important;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.display-show {
  display: revert !important;
}

.display-none {
  display: none !important;
}

.rotate-360 {
  transform: rotate(180deg) !important;
}

.opacity-1 {
  opacity: 1 !important;
}

.pointer-events-all {
  pointer-events: all !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}
