.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.ml-1 {
  margin-left: 1em !important;
}
.mb-1 {
  margin-bottom: 1em !important;
}
@media (min-width: getBreakPoint(sm)) {
  .ml-1-sm {
    margin-left: 1em !important;
  }
  .ml-auto-sm {
    margin-left: auto !important;
  }
}
.member {
  color: #faff00;
}
.rel {
  position: relative;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.display-show {
  display: revert;
}

.rotate-360 {
  transform: rotate(180deg);
}

.opacity-1 {
  opacity: 1;
}
