$colors: (
  primary: #dc8484,
  primary-light: #ff8080,
  primary-dark: #cd6363,
  secondary: #c4c4c4,
  btn-primary: #63badf,
);

$break-points: (
  sm: 430px,
  md: 700px,
);

$navigation-offset: (
  default: 70px,
  sm: 85px,
  md: 100px,
);

$body-padding: 30px;
